InterfaceVersion = 4
CGRootDir = /var/CommuniGate/
ConnectorDir = /var/CommuniGate/PTConnector/connector
GatewayURL = http://127.0.0.1
GatewayPort = 10001
GatewayFileUploadUri = /fileUpload/
GatewayfileRUIDUri= /fileRUID/
ConnectorURL= 127.0.0.1
ConnectorPort = 10002
LoggingLevel = ERROR